<html lang="en"> 
<html>
<head>
    <title>Profile - StudioToStadium</title>
    <%- include('../partials/includes'); %>
</head>
<body>
  <%- include('../partials/navbar'); %>
  <div class="container" style ="width:60%">
    <h1 style="text-align: center">Coach Ginger Rogers</h1>
    <hr class="divider1">
  </div>


<div class="row">
  <div class="col-md-3">
    <!-- blank space -->
  </div>
  <div class="col-md-3">
    <img src="https://m.media-amazon.com/images/M/MV5BOTgwNjE4MDkzMV5BMl5BanBnXkFtZTYwNjQ5NjQ2._V1_FMjpg_UX1000_.jpg" width="200">
  </div>
  <div class="col-md-4">
    <ul><b>Name: </b>Ginger Rogers</ul>
    <ul><b>Location: </b>New York</ul>
    <ul><b>School: </b>New York University</ul>
    <ul><b>School Size: </b>Large</ul>
    <ul><b>Division: </b>III</ul>
    <ul><b>Sport: </b>Dance</ul>
    <ul><b>Style Specialities: </b>Ballet, Tap, Ballroom</ul>
    <ul><b>Team Performance: </b>Competitive</ul>
    <ul><b>Expected Time Commitment: </b>11-15 hr/week</ul>
    <ul><b>Scholarships: </b>Partial</ul>
    <ul><b>Majors Offered: </b></ul>
  </div>
  <p><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
  <div class="container" style ="width:60%">
    <hr class="divider1">
    <h1 style="text-align: center">Student's Talent Showcase</h1>
    <hr class="divider1">
  </div>
  <div class="row">
    <div class="col-md-3">
      <!--blank space -->
    </div>
    <div class="col-md-3">
      <img src="https://images.squarespace-cdn.com/content/v1/5f7d5dbb1678451f48d28916/6bd51627-45dc-4510-9022-90ed3b0999aa/Fred+and+Ginger.jpg" width="240">
    </div>
    <div class="col-md-3">
      <img src="https://www.wikidancesport.com/Attachments/Legends/Ginger%20Rogers/002-ginger-rogers-and-fred-astaire-theredlist.jpg" width="250">
    </div>
    <div class="col-md-3">
      <!--blank space-->
    </div>
  </div>

  <div class="container" style ="width:60%">
    <hr class="divider1">
    <h1 style="text-align: center">Personal Statement</h1>
    <hr class="divider1">
  </div>
  <div class="row">
    <div class="col-md-3">
      <!--blank space -->
    </div>
    <div class="col-md-6">
      <p>Ginger Rogers (born Virginia Katherine McMath; July 16, 1911 - April 25, 
        1995) was an American actress, dancer and singer during the Golden Age of 
        Hollywood. She won an Academy Award for Best Actress for her starring role 
        in Kitty Foyle (1940), and performed during the 1930s in RKO's musical 
        films with Fred Astaire. Her career continued on stage, radio and 
        television throughout much of the 20th century. </p>
    </div>
    <div class="col-md-3">
      <!--blank space-->
    </div>
  </div>
  
</div>
<p><br><br><br><br><br></p>
<%- include('../partials/footer'); %>
</body>
</html>
<style>

hr.divider1 {
  width: 100%;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 2px;
}
</style>
