<!DOCTYPE html>

<html lang="en"> 
<body>
  <%- include('../partials/navbar'); %>
      

<head>
  <title>Studio to Stadium - Collegiate Teams</title>

</head>
<body>

  <div class="page-header">
    <h1 class="text-center">Collegiate Teams</h1>
  </div>


  <div class="container">
    <p>Recruiting can be a full time job, but how much time do you have left to give?! 
      Let us aid you by discovering and tracking prospective athletes that fit your standards! Our comprehensive recruiting solution will help your program gain traction through increased exposure as well as diversifying your prospective pool.
      </p>
      <h3>D1A Colleges</h3>
      <ul class="list-unstyled">
        <li><a href="#">Arizona State University</a></li>
        <li><a href="#">Standford University</a></li>
        <li><a href="#">University of Arizona</a></li>
        <li><a href="#">University of Colorado - Boulder</a></li>
        <li><a href="#">University of Nebraska - Lincoln</a></li>
      </ul>
      <h3>D2 Colleges</h3>
      <ul class="list-unstyled">
        <li><a href="#">Assumption University</a></li>
        <li><a href="#">Grand Valley State University</a></li>
        <li><a href="#">North Greenville University</a></li>
      </ul>
  </div>
  <%- include('../partials/footerTest'); %>
</body>

    

</html>