<!DOCTYPE html>

<html lang="en"> 
<body>
  <%- include('../partials/navbar'); %>
      

<head>
  <title>Studio to Stadium - Collegiate Teams</title>
  <style>
 
    footer {
      background: #212529;
    }
  </style>

</head>
<body>

  <div class="page-header">
    <h1 class="text-center">Collegiate Teams</h1>
  </div>


  <div class="container">
    <p>Recruiting can be a full time job, but how much time do you have left to give?! 
      Let us aid you by discovering and tracking prospective athletes that fit your standards! Our comprehensive recruiting solution will help your program gain traction through increased exposure as well as diversifying your prospective pool.
      </p>
      <h3>D1A Colleges</h3>
      <ul class="list-unstyled">
        <li><a href="#">Arizona State University</a></li>
        <li><a href="#">Standford University</a></li>
        <li><a href="#">University of Arizona</a></li>
        <li><a href="#">University of Colorado - Boulder</a></li>
        <li><a href="#">University of Nebraska - Lincoln</a></li>
      </ul>
      <h3>D2 Colleges</h3>
      <ul class="list-unstyled">
        <li><a href="#">Assumption University</a></li>
        <li><a href="#">Grand Valley State University</a></li>
        <li><a href="#">North Greenville University</a></li>
      </ul>
  </div>
</body>

    <!-- FOOTER -->
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
      <div class="container py-4">
          <div class="row gy-4 gx-5">
              <div class="col-lg-2 col-md-6">
                  <h3 class="text-white mb-3">Studio to Stadium</h5>
                  <p class="small text-muted">Studio to Stadium exists to seamlessly unite dancers and coaches across the nation. 
                    We strive to facilitate the recruiting process through authentic connections, empowering the individual and 
                    providing equal opportunity to all prospects dancers. We are driven by diversity and inclusion, integrity, 
                    leadership, and passion.</p>
                  <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">StudioToStadium.com</a></p>
              </div>
              <div class="col-lg-2 col-md-6">
                  <h3 class="text-white mb-3">Quick links</h5>
                  <ul class="list-unstyled text-muted">
                      <li><a href="/">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Get started</a></li>
                      <li><a href="#">FAQ</a></li>
                  </ul>
              </div>              
          </div>
      </div>
  </footer>

</html>