<html lang="en"> 
<head>
  <title>Conferences - StudioToStadium</title>
  <%- include('../partials/includes'); %>
</head>
<body>
  <%- include('../partials/navbar'); %>
  <!--<div class="hero-image-1"> </div>-->
  <div class="container" style ="width:60%; font-family: arbotek, sans-serif">
    <h1 style="text-align: center">Conferences We Support</h1>
    <hr class="divider1">
    <p>Recruiting can be a full time job, but how much time do you have left to give?! 
      Let us aid you by discovering and tracking prospective athletes that fit your standards! Our comprehensive recruiting solution will help your program gain traction through increased exposure as well as diversifying your prospective pool.
    </p>
    <div class="container">
      <div class="row d-flex justify-content-center mx-auto">
        <div class="col-md-5">
          <h3>Division 1</h3>
          <ul class="list-unstyled">
            <li><a href="#">American Athletic</a></li>
            <li><a href="#">Atlantic Coast</a></li>
            <li><a href="#">Big 12</a></li>
            <li><a href="#">Big Sky</a></li>
            <li><a href="#">Big South</a></li>
            <li><a href="#">Big 10</a></li>
            <li><a href="#">Colonial Athletic Association</a></li>
            <li><a href="#">Conference USA</a></li>
            <li><a href="#">Independents (FBS)</a></li>
            <li><a href="#">Ivy League</a></li>
            <li><a href="#">Mid-American</a></li>
            <li><a href="#">Mid-Eastern Athletic</a></li>
            <li><a href="#">Missouri Valley</a></li>
            <li><a href="#">Mountain West</a></li>
            <li><a href="#"> Northeast</a></li>
            <li><a href="#">Ohio Valley</a></li>
            <li><a href="#">Pacific 12</a></li>
            <li><a href="#">Patriot League</a></li>
            <li><a href="#">Pioneer League</a></li>
            <li><a href="#">SEC</a></li>
            <li><a href="#">Southern</a></li>
            <li><a href="#">Southland</a></li>
            <li><a href="#">Southwestern Athletic</a></li>
            <li><a href="#">Sunbelt</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Division 2</h3>
          <ul class="list-unstyled">
            <li><a href="#">CIAA</a></li>
            <li><a href="#">G-MAC</a></li>
            <li><a href="#">GAC</a></li>
            <li><a href="#">GLIAC</a></li>
            <li><a href="#">GLVC</a></li>
            <li><a href="#">GNAC</a></li>
            <li><a href="#">Gulf South</a></li>
            <li><a href="#">Independent</a></li>
            <li><a href="#">LSC</a></li>
            <li><a href="#">MEC</a></li>
            <li><a href="#">MIAA</a></li>
            <li><a href="#">NE-10</a></li>
            <li><a href="#">NSIC</a></li>
            <li><a href="#">PSAC</a></li>
            <li><a href="#">RMAC</a></li>
            <li><a href="#">SAC</a></li>
            <li><a href="#">SIAC</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer'); %>
</body>
</html>
<style>
  .hero-image-1 {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url('../images/AbbeyNugent.jpg');

  /* Set a specific height */
  height: 70%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
hr.divider1 {
  width: 100%;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 2px;
}
</style>