<!-- FOOTER -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6> Studio To Stadium</h6>
          <p class="text-justify">&copy; All rights reserved. <a href = "https://studiotostadium.onrender.com/">StudioToStadium.com</a></p>
          <p class="text-justify"><a href="/terms_and_conditions">Terms and Conditions</a></p>
          <p class="text-justify"><a href="/privacy_policy">Privacy Policy</a></p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">FAQ</a></li>
            <li><a href="/coachfeed">Get Started</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3">
           <img src = "https://i.imgur.com/E6pgvYH.png" >
        </div>
        </div>
      </div>
    </div>
</footer>
<style>
.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
img {
  width: 130px;
  height: 130px
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#c8c8c8;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:hover,.footer-links a:focus
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:20px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer ,.site-footer .copyright-text
  {
    text-align:center
  }
  .img {
    width: 100px;
    height: 100px
   }
  
}
@media (max-width:400px){
    .img {
    width: 50px;
    height: 50px
   }
}
</style>
