<nav class="navbar navbar-default">
    <div class="container-fluid" style=font-family: arbotek, sans-serif;>
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style=font-family: arbotek, sans-serif; >StudioToStadium</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">HOME</a></li>
        <li><a href="/collegiate_teams">COLLEGIATE TEAMS</a></li>
        <li><a href="/settings">ABOUT</a></li>
        <li><a class="open-button" onclick="openForm()" href="#">LOGIN</a></li>
      </ul>
    </div>
  </nav>