<header class="header">
  <h1 class="logo"><a href="#">StudioToStadium</a></h1>
  <ul class="main-nav">
      <li class="navBtns" id="navHome"><a href="/">HOME</a></li>
      <li class="navBtns" id="navCollegiateTeams"><a href="/conferences">CONFERENCES</a></li>
      <li class="navBtns" id="navCoachFeed"><a href="/coachFeed">EXPLORE</a></li>
      <li class="navBtns" id="navAbout"><a href="/about">ABOUT</a></li>
      <li class="navBtns"><a class="open-button" onclick="document.getElementById('login').style.display='block'" style="width:auto;" href="#">LOGIN</a></li>
      <li class="navBtns"><a class="open-button" onclick="document.getElementById('signup').style.display='block'" style="width:auto;" href="#">SIGNUP</a></li>
  </ul>
  
</header> 
<div id="login" class="modal">

  <form class="modal-content animate" action="/submit-form" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <div class="row my-3">
        <div class="col-md-12">
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-12">
          <div class="form-outline">
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>  
          </div>
        </div>
      </div>      
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  </form>
</div>
<div id="signup" class="modal">

  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('signup').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="uname"><b>First Name</b></label>
      <input type="text" placeholder="First Name" name="first_name" required>
      
      <label for="uname"><b>Last Name</b></label>
      <input type="text" placeholder="Last Name" name="last_name" required>

      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="uname"><b>Phone Number</b></label>
      <input type="text" placeholder="Enter Phone Number" name="phone_number" required>

      <label for="uname"><b>Email </b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        
      <button type="submit">Signup</button>
    </div>
  </form>
</div>

<style>   
* {
box-sizing: border-box;
}
body {
font-family: 'Montserrat', sans-serif;
line-height: 1.6;
margin: 0;
min-height: 100vh;
}
ul {
margin: 0;
padding: 0;
list-style: none;
}
h2,h3,a {
color: #000000;
}
.logo {
margin: 0;
font-size: 1.5em;
}
.main-nav {
margin-top: 5px;

}
.logo a, .main-nav a {
padding: 10px 15px;
text-transform: uppercase;
text-align: center;
display: block;
}
.main-nav a {
color: #000000;
font-size: 1.05em;
}
.main-nav a:hover {
color: #718daa;
}
.header {
padding-top: .5em;
padding-bottom: .5em;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background-color: #ffffff;
border-radius: 5px;
}
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

.container {
padding: 16px;
}

span.psw {
float: right;
padding-top: 16px;
}

.modal {
display: none;
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto;
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
padding-top: 60px;
}

.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; 
border: 1px solid #888;
width: 80%; 
}

.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover, .close:focus {
color: rgb(156, 71, 71);
cursor: pointer;
}

@media screen and (max-width: 300px) {
span.psw {
   display: block;
   float: none;
}
.cancelbtn {
   width: 100%;
}
}

@media (min-width: 769px) {
.header, .main-nav {
  display: flex;
}
.header {
  margin: 0 auto;
  flex-direction: column;
  max-width: 1550px;
  align-items: center;
  width: 100%;

}
}
@media (min-width: 1025px) {
.header {
  justify-content: space-between;
  flex-direction: row;
}

}
</style>
<script>
  var modal = document.getElementById('signup');
  
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>
