<nav class="navbar navbar-default">
    <div class="container-fluid" id="navBar" style=font-family:arbotek,sans-serif;>
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style=font-family:arbotek,sans-serif; >StudioToStadium</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="navBtns" id="navHome"><a href="/">HOME</a></li>
        <li class="navBtns" id="navCollegiateTeams"><a href="/collegiate_teams">CONFERENCES</a></li>
        <li class="navBtns" id="navAbout"><a href="/settings">ABOUT</a></li>
        <li class="navBtns"><a class="open-button" onclick="openForm()" href="#">LOGIN</a></li>
      </ul>
    </div>
</nav>
<title>Studio To Stadium</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script>
// Add active class to the current button (highlight it)
var pageUrl= window.location.href
if(pageUrl == "http://localhost:3000/"){
  document.getElementById("navHome").className += " active"
}
else if(pageUrl == "http://localhost:3000/collegiate_teams"){
  document.getElementById("navCollegiateTeams").className += " active"

}
else if(pageUrl == "http://localhost:3000/settings"){
  document.getElementById("navAbout").className += " active"

}
var header = document.getElementById("navBar");
var btns = header.getElementsByClassName("navBtns");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}
</script>