<html lang="en"> 
<html>
<head>
    <title>Profile - StudioToStadium</title>
    <%- include('../partials/includes'); %>
</head>
<body>
  <%- include('../partials/navbar'); %>

<!-- left side -->
<div class="container-back">
  <div class="col-md-5">
    <div class="container" style ="width:60%">
      <h1 style="text-align: center">Talent</h1>
      <hr class="divider1">
    </div>
    <!-- main video -->
    <div class="row">
      <div class="col-md-1">
        <!-- blank space -->
      </div>
      <div class="col-md-3">
        <img src="https://i.ytimg.com/vi/bwCC2gUiif8/maxresdefault.jpg" width="480">
      </div>
    </div>
    <!-- image panels -->
    <div class="row">
      <br>
      <div class="col-md-1">
        <!--blank space -->
      </div>
      <div class="col-md-4">
        <img src="https://images.squarespace-cdn.com/content/v1/5f7d5dbb1678451f48d28916/6bd51627-45dc-4510-9022-90ed3b0999aa/Fred+and+Ginger.jpg" width="120">
      </div>
      <div class="col-md-4">
        <img src="https://www.bestmoviesbyfarr.com/static-assets/blobs/images/articles/background/2014/05/2-1qnatp3.jpg" width="150">
      </div>
      <div class="col-md-3">
        <img src="https://i.ytimg.com/vi/R970ZgFlFsM/hqdefault.jpg" width="130">
      </div>
    </div>
  </div>
</div>

<!-- right side -->
<div class="col-md-6">
  <!-- name / header -->
  <div class="container" style ="width:60%">
    <h1 style="text-align: center">Fred Astaire</h1>
    <hr class="divider1">
  </div>
  <div class="row">
    <div class="col-md-1">
      <!-- blank space -->
    </div>
    <!-- profile picture -->
    <div class="col-md-4">
      <img src="https://www.wikidancesport.com/Attachments/Legends/Fred%20Astaire/fred-astaire-ca-1941-everett.jpg" width="175">
    </div>
    <!-- quick info -->
    <div class="col-md-7">
      <ul><b>Phone: </b>(123) 456-7890</ul>
      <ul><b>Email: </b>fred.astaire@gmail.com</ul>
      <ul><b>Location: </b>New York</ul>
      <h4><b>About</b></h4>
      <p>Fred Astaire (born Frederick Austerlitz May 10, 1899 - June 22, 1987)
        was an American dancer, choreographer, actor, and singer. He is often 
        called the "greatest popular-music dancer of all time". He has received 
        numerous accolades including an Honorary Academy Award, three Primetime 
        Emmy Awards, a BAFTA Award, two Golden Globe Awards, and a Grammy Award. </p>
    </div>
  </div>
  <div class="row">
    <!-- Statistics -->
    <div class="col-md-1">
      <!-- blank space -->
    </div>
    <div class="col-md-6">
      <h3>Training</h3>
      <li>Joffrey Ballet Mar 2016 - Mar 2018</li>
      <li>Margrave Dance May 2018 - Jun 2019</li>
    </div>
    <div class="col-md-5">
      <h3>References</h3>
      <li>John Smith (123) 456-7890</li>
      <li>Mary Sue (123) 456-7890</li>
    </div>
  </div>
  <div class="row">
    <!-- Statistics -->
    <div class="col-md-1">
      <!-- blank space -->
    </div>
    <div class="col-md-6">
      <h3>Skills</h3>
      <div class="col-md-5">
        <li>Tumbling</li>
        <li>Tap</li>
      </div>
      <div class="col-md-3">
        <li>Ballet</li>
        <li>Jazz</li>
      </div>
    </div>
    <div class="col-md-5">
      <h3>Awards</h3>
      <li>Best Dancer at The Dancer Awards</li>
      <li>Tap Dancer at Dancing</li>
    </div>
  </div>
</div>

<p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
<%- include('../partials/footer'); %>
</body>
</html>
<style>

hr.divider1 {
  width: 100%;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 2px;
}

.container-back {
  background-color: rgb(174, 187, 198);
  box-shadow: 1px 1px 2px;
}
</style>