<html lang="en"> 
<html>
<head> 
  <title>About - StudioToStadium</title>
  <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <%- include('../partials/navbar'); %>
</head>
<body>
<div class="hero-image-1"> </div>
<div class="container" style ="width:60%">
  <h1 style="text-align: center">Studio to Stadium Terms and Conditions</h1>
  <hr class="divider1">
</div>
<div class="container" style ="width:60%">
  <p>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp; is the equivalent of a tab character -->
    Welcome to Studio to Stadium!
    <br><br>
    These terms and conditions outline the rules and regulations for the use of Studio to Stadium LLC's
    Website, located at www.studio2stadium.com.
    <br><br>
    By accessing this website, we assume you accept these terms and conditions. Do not continue to use
    Studio to Stadium if you do not agree to take all of the terms and conditions stated on this page.  
  </p>
  <br>
  <h3 style="text-align: center">Acknowledgment</h3>
  <p>
    These are the Terms and Conditions governing the use of this Service and the agreement that operates
    between You and the Company. These Terms and Conditions set out the rights and obligations of all
    users regarding the use of the Service.
    <br><br>
    Your access to and use of the Service is conditioned on Your acceptance of and compliance with these
    Terms and Conditions. These Terms and Conditions apply to all visitors, users and others who access or
    use the Service.
    <br><br>
    By accessing or using the Service You agree to be bound by these Terms and Conditions. If You disagree
    with any part of these Terms and Conditions then You may not access the Service.
    <br><br>
    Your access to and use of the Service is also conditioned on Your acceptance of and compliance with the
    Privacy Policy of the Company. Our Privacy Policy describes Our policies and procedures on the
    collection, use and disclosure of Your personal information when You use the Application or the Website
    and tells You about Your privacy rights and how the law protects You. Please read Our Privacy Policy
    carefully before using Our Service.
  </p>
  <br>
  <h3 style="text-align: center">Registration. Rules for User Conduct and Use of the Service</h3>
  <p>
    You need to be at least 13 years old and a resident of the United States to register for and use the Service.
    If you are a user who signs up for the Service, you will create a personalized account which includes a
    unique username and a password to access the Service and to receive messages from the Company. You
    agree to notify us immediately of any unauthorized use of your password and/or account. The Company
    will not be responsible for any liabilities, losses, or damages arising out of the unauthorized use of your
    member name, password and/or account.
  </p>
  <br>
  <h3 style="text-align: center">Use Restrictions</h3>
  <p>
    Your permission to use the Site is conditioned upon the following use, posting and conduct restrictions:
    You agree that you will not under any circumstances:</p>
    <li>access the Service for any reason other than your personal, non-commercial use solely as
    permitted by the normal functionality of the Service,</li>
    <li>collect or harvest any personal data of any user of the Site or the Service</li>
    <li>use the Site or the Service for the solicitation of business in the course of trade or in connection
        with a commercial enterprise</li>
    <li>distribute any part or parts of the Site or the Service without our explicit written permission (we
        grant the operators of public search engines permission to use spiders to copy materials from the
        site for the sole purpose of creating publicly-available searchable indices but retain the right to
        revoke this permission at any time on a general or specific basis);</li>
    <li>use the Service for any unlawful purpose or for the promotion of illegal activities;</li>
    <li>attempt to, or harass, abuse or harm another person or group;</li>
    <li>use another user's account without permission;</li>
    <li>intentionally allow another user to access your account;</li>
    <li>provide false or inaccurate information when registering an account;</li>
    <li>interfere or attempt to interfere with the proper functioning of the Service;</li>
    <li>make any automated use of the Site, the Service or the related systems, or take any action that
        we deem to impose or to potentially impose an unreasonable or disproportionately large load on
        our servers or network infrastructure;</li>
    <li>bypass any robot exclusion headers or other measures we take to restrict access to the Service,
        or use any software, technology, or device to scrape, spider, or crawl the Service or harvest or
        manipulate data;</li>
    <li> circumvent, disable or otherwise interfere with any security-related features of the Service or
        features that prevent or restrict use or copying of content, or enforce limitations on use of the
        Service or the content accessible via the Service; or</li>
    <li>publish or link to malicious content of any sort, including that intended to damage or disrupt
        another user's browser or computer.</li>
  <br>
  <h3 style="text-align: center">Posting and Conduct Restrictions</h3>
  <p>
    When you create your own personalized account, you are solely responsible for the User Content that you
    post, upload, link to or otherwise make available via the Service. You agree that we are only acting as a
    passive conduit for your online distribution and publication of your User Content. The Company, however,
    reserves the right to remove any User Content from the Service at its sole discretion.
    We grant you permission to use and access the Service, subject to the following express conditions
    surrounding User Content. You agree that failure to adhere to any of these conditions constitutes a
    material breach of these Terms
  </p>
  <li>By transmitting and submitting any User Content while using the Service, you agree as follows:</li>
  <li>You are solely responsible for your account and the activity that occurs while signed in to or while
    using your account;</li>
<li>You will not post information that is malicious, libelous, false or inaccurate;</li>
<li>You will not post any information that is abusive, threatening, obscene, defamatory, libelous, or
    racially, sexually, religiously, or otherwise objectionable and offensive;</li>
<li>You retain all ownership rights in your User Content but you are required to grant the following
    rights to the Site and to users of the Service as set forth more fully under the “License Grant” and
    “Intellectual Property” provisions below: When you upload or post User Content to the Site or the
    Service, you grant to the Site a worldwide, non-exclusive, royalty-free, transferable license to use,
    reproduce, distribute, prepare derivative works of, display, and perform that Content in connection
    with the provision of the Service; and you grant to each user of the Service, a worldwide,
    non-exclusive, royalty-free license to access your User Content through the Service, and to use,
    reproduce, distribute, prepare derivative works of, display and perform such Content to the extent
    permitted by the Service and under these Terms of Use;</li>
<li>You will not submit content that is copyrighted or subject to third party proprietary rights,
    including privacy, publicity, trade secret, or others, unless you are the owner of such rights or have
    the appropriate permission from their rightful owner to specifically submit such content; and</li>
<li> You hereby agree that we have the right to determine whether your User Content submissions are
    appropriate and comply with these Terms of Service, remove any and/or all of your submissions,
    and terminate your account with or without prior notice.</li>
  <h3 style="text-align: center">Cookies</h3>
  <p>
    The website uses cookies to help personalize your online experience. By accessing Studio to Stadium,
    you agreed to use the required cookies.<br><br>
    A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run
    programs or deliver viruses to your computer. Cookies are uniquely assigned to you and can only be read
    by a web server in the domain that issued the cookie to you.<br><br>
    We may use cookies to collect, store, and track information for statistical or marketing purposes to
    operate our website. You have the ability to accept or decline optional Cookies. There are some required
    Cookies that are necessary for the operation of our website. These cookies do not require your consent
    as they always work. Please keep in mind that by accepting required Cookies, you also accept third-party
    Cookies, which might be used via third-party provided services if you use such services on our website,
    for example, a video display window provided by third parties and integrated into our website.
    </p>
  <h3 style="text-align: center">License</h3>
  <p>
    Unless otherwise stated, Studio to Stadium LLC and/or its licensors own the intellectual property rights
    for all material on Studio to Stadium. All intellectual property rights are reserved. You may access this
    from Studio to Stadium for your own personal use subjected to restrictions set in these terms and
    conditions.<br><br>
    You must not:
      </p>
    <li>Copy or republish material from Studio to Stadium</li>
    <li>Sell, rent, or sub-license material from Studio to Stadium</li>
    <li>Reproduce, duplicate or copy material from Studio to Stadium</li>
    <li>Redistribute content from Studio to Stadium</li>
    <p>This Agreement shall begin on the date hereof 7/27/22</p>
  <h3 style="text-align: center">Online Content Disclaimer</h3>
  <p>
    Parts of this website offer users an opportunity to post and exchange opinions and information in certain
    areas of the website. Studio to Stadium LLC does not filter, edit, publish or review Comments before their
    presence on the website. Comments do not reflect the views and opinions of Studio to Stadium LLC, its
    agents, and/or affiliates. Comments reflect the views and opinions of the person who posts their views
    and opinions. To the extent permitted by applicable laws, Studio to Stadium LLC shall not be liable for the
    Comments or any liability, damages, or expenses caused and/or suffered as a result of any use of and/or
    posting of and/or appearance of the Comments on this website.<br><br>
    Opinions, advice, statements, offers, or other information or content made available through the Service,
    but not directly by the Site, are those of their respective authors, and should not necessarily be relied
    upon. Such authors are solely responsible for such content.<br><br>
    We do not guarantee the accuracy, completeness, or usefulness of any information on the Site or the
    Service nor do we adopt nor endorse, nor are we responsible for, the accuracy or reliability of any opinion,
    advice, or statement made by other parties. We take no responsibility and assume no liability for any User
    Content that you or any other user or third party posts or sends via the Service. Under no circumstances
    will we be responsible for any loss or damage resulting from anyone's reliance on information or other
    content posted on the Service, or transmitted to users.<br><br>
    Studio to Stadium LLC reserves the right to monitor all Comments and remove any Comments that can be
    considered inappropriate, offensive, or causes breach of these Terms and Conditions.<br><br>
    You warrant and represent that:
    </p>
    <li>You are entitled to post the Comments on our website and have all necessary licenses and
        consents to do so;</li>
    <li>The Comments do not invade any intellectual property right, including without limitation
        copyright, patent, or trademark of any third party;</li>
    <li>The Comments do not contain any defamatory, libelous, offensive, indecent, or otherwise
        unlawful material, which is an invasion of privacy.</li>
    <li>The Comments will not be used to solicit or promote business or custom or present commercial
        activities or unlawful activity.</li>

    <p>You hereby grant Studio to Stadium LLC a non-exclusive license to use, reproduce, edit and authorize
        others to use, reproduce and edit any of your Comments in any and all forms, formats, or media.</p>
  <br>
  <h3 style="text-align: center">Hyperlinking to our Content</h3>
  <p>
    The following organizations may link to our Website without prior written approval:
  </p>
    <li>Government Agencies;</li>
    <li>Search engines;</li>
    <li>News organizations;</li>
    <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the
        Websites of other listed businesses; and</li>
    <li>System-wide Accredited Businesses except soliciting non-profit organizations, charity shopping 
        malls, and charity fundraising groups which may not hyperlink to our Website.</li>
    <p>
        These organizations may link to our home page, to publications, or to other Website information so long
    as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement, or
    approval of the linking party and its products and/or services; and (c) fits within the context of the linking
    party's site.<br><br>
    We may consider and approve other link requests from the following types of organizations:
    </p>
    <li>commonly-known consumer and/or business information sources</li>
    <li>dot.com community sites;</li>
    <li>associations or other groups representing charities;</li>
    <li>online directory distributors;</li>
    <li>internet portals</li>
    <li>accounting, law, and consulting firms; and</li>
    <li>educational institutions and trade associations.</li>
    <p>
        <br>We will approve link requests from these organizations if we decide that: (a) the link would not make us
        look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any
        negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence
        of Studio to Stadium LLC; and (d) the link is in the context of general resource information.
        <br><br>
        These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b)
        does not falsely imply sponsorship, endorsement, or approval of the linking party and its products or
        services; and (c) fits within the context of the linking party's site.<br><br>
        If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website,
        you must inform us by sending an e-mail to Studio to Stadium LLC. Please include your name, your
        organization name, contact information as well as the URL of your site, a list of any URLs from which you
        intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3
        weeks for a response.<br><br>
        Approved organizations may hyperlink to our Website as follows:
    </p>
    <li>By use of our corporate name; or</li>
    <li>By use of the uniform resource locator being linked to; or</li>
    <li>Using any other description of our Website being linked to that makes sense within the context
    and format of content on the linking party's site.</li>
    <p>
        <br>No use of Studio to Stadium LLC's logo or other artwork will be allowed for linking absent a trademark
        license agreement.
    </p>
    <h3 style="text-align: center">Limitation of Liability</h3>
    <p>
            Studio2stadium.com makes no warranties, claims, or promises in regards to the placement or suitability
        of its program(s) for use by Client. All programs are accepted on an individual basis. Studio2stadium.com
        makes no claims or guarantees as to the ability of the individual to have a secured placement on any
        team or program. studio2stadium.com liability shall be limited to no more than the price paid for the
        product minus any expenses studio2stadium.com has incurred for maintaining the program(s). In no
        event shall studio2stadium.com be liable to Client, or any other third party, for any direct, or indirect,
        special incidental or consequential damages resulting from performance or failure to perform under this
        Agreement other than those conditions as set forth.<br><br>
        Notwithstanding any damages that You might incur, the entire liability of the Company and any of its
        suppliers under any provision of this Terms and Your exclusive remedy for all of the foregoing shall be
        limited to the amount actually paid by You through the Service or 100 USD if You haven't purchased
        anything through the Service.<br><br>
        To the maximum extent permitted by applicable law, in no event shall the Company or its suppliers be
        liable for any special, incidental, indirect, or consequential damages whatsoever (including, but not limited
        to, damages for loss of profits, loss of data or other information, for business interruption, for personal
        injury, loss of privacy arising out of or in any way related to the use of or inability to use the Service,
        third-party software and/or third-party hardware used with the Service, or otherwise in connection with
        any provision of this Terms), even if the Company or any supplier has been advised of the possibility of
        such damages and even if the remedy fails of its essential purpose.<br><br>
        Some states do not allow the exclusion of implied warranties or limitation of liability for incidental or
        consequential damages, which means that some of the above limitations may not apply. In these states,
        each party's liability will be limited to the greatest extent permitted by law.
        Studio to Stadium does not hold direct affiliation with any University. We are not responsible for individual
        University recruiting, team placements or decisions made by coaches or athletic departments. You
        recognize that we do not guarantee placements on any team.
    </p>
    <h3 style="text-align: center">Privacy Policy</h3>
    <p>
        Studio to Stadium LLC privacy policy can be viewed <a href="/privacy_policy">here</a>
    </p>
    <h3 style="text-align: center">Reservation of Rights</h3>
    <p>
        We reserve the right to request that you remove all links or any particular link to our Website. You approve
        to immediately remove all links to our Website upon request. We also reserve the right to amend these
        terms and conditions and its linking policy at any time. By continuously linking to our Website, you agree
        to be bound to and follow these linking terms and conditions.
    </p>
    <h3 style="text-align: center">Removal of Links From Our Website</h3>
    <p>
        If you find any link on our Website that is offensive for any reason, you are free to contact and inform us at
        any moment. We will consider requests to remove links, but we are not obligated to or so or to respond to
        you directly.<br><br>
        We do not ensure that the information on this website is correct. We do not warrant its completeness or
        accuracy, nor do we promise to ensure that the website remains available.
    </p>
    <h3 style="text-align: center">Intellectual Property Rights</h3>
    <p>
        You acknowledge and agree that we and our licensors retain ownership of all intellectual property rights
        of any kind related to the Service, including applicable copyrights, trademarks and other proprietary rights.
        Other product and company names that are mentioned on the Service may be trademarks of their
        respective owners. We reserve all rights that are not expressly granted to you under these Terms of Use.
    </p>
    <h3 style="text-align: center">Disclaimer</h3>
    <p>
        To the maximum extent permitted by applicable law, we exclude all representations, warranties, and
        conditions relating to our website and the use of this website. Nothing in this disclaimer will:
    </p>
    <li>limit or exclude our or your liability for death or personal injury;</li>
    <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
    <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
    <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
    <p>
        The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are
        subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including
        liabilities arising in contract, in tort, and for breach of statutory duty.
    </p>
    <h3 style="text-align: center">Changes to These Terms and Conditions</h3>
    <p>
        We reserve the right, at Our sole discretion, to modify or replace these Terms at any time. If a revision is
        material, we will make reasonable efforts to provide at least 30 days' notice prior to any new terms taking
        effect. What constitutes a material change will be determined at Our sole discretion.
        <br><br>
        By continuing to access or use Our Service after those revisions become effective, You agree to be bound
        by the revised terms. If You do not agree to the new terms, in whole or in part, please stop using the
        website and the Service.
    </p>
    <h3 style="text-align: center">General Terms</h3>
    <p>
        If any part of this Terms of Use agreement is held or found to be invalid or unenforceable, that portion of
        the agreement will be construed as to be consistent with applicable law while the remaining portions of
        the agreement will remain in full force and effect. Any failure on our part to enforce any provision of this
        agreement will not be considered a waiver of our right to enforce such provision. Our rights under this
        agreement survive any transfer or termination of this agreement.<br><br>
        You agree that any cause of action related to or arising out of your relationship with the Company must
        commence within ONE year after the cause of action accrues. Otherwise, such cause of action is
        permanently barred.<br><br>
        These Terms of Use and your use of the Site are governed by the federal laws of the United States of
        America and the laws of the State of Colorado, without regard to conflict of law provisions.<br><br>
        We may assign or delegate these Terms of Service and/or our Privacy Policy, in whole or in part, to any
        person or entity at any time with or without your consent. You may not assign or delegate any rights or
        obligations under the Terms of Service or Privacy Policy without our prior written consent, and any
        unauthorized assignment or delegation by you is void.
    </p>
    <h3 style="text-align: center">Contact Us</h3>
    <p>
        If you have any questions about these Terms and Conditions, You can contact us:<br>
        studiotostadium@gmail.com
    </p>
</div>
<%- include('../partials/footer'); %>
</body>

</html>
<style>
  .hero-image-1 {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("https://i.imgur.com/ZN9uys2.jpg");

  /* Set a specific height */
  height: 70%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
hr.divider1 {
  width: 100%;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 2px;
}
</style>
